body {
  	font-family: "Alumni Sans Pinstripe", sans-serif;
	font-size: 1.25em;
	color: white;
	background-color: black;
}

main {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
	text-align: center;
}

.logo {
	width: 300px;
}

/* hr {
	width: 600px;
	color: white;
} */