body {
  	font-family: "Michroma", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	color: rgb(170, 134, 17);
	background-color: black;
}

h1 {
	text-align: center;
}

#bandName {
	margin-top: 400px;
	margin-bottom: 0.9em;
}

hr {
	width: 600px;
	color: rgb(178, 141, 20);
}