body {
  	font-family: "Michroma", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	color: rgb(170, 134, 17);
	background-color: black;
}

main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
	text-align: center;
}

#title {
	margin-bottom: 1em;
}

hr {
	width: 600px;
	color: rgb(178, 141, 20);
}