body {
  	font-family: "Michroma", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	color: rgb(178, 141, 20);
	background-color: black;
}

h1, h3 {
	text-align: center;
}

h1 {
	margin-top: 400px;
}
